doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="author" content="Janika Liiv")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/style/normalize.css")
    link(rel="stylesheet" href="/style/common.css")
    link(rel="stylesheet" href="/style/custom.css")
  body
    != partial("/_shared/nav")
    .content
      .container
        if(current.path[0] == "articles" && current.source !== 'index')
          !=partial(current.path[0] + "/_nest")
        else
          != yield
