.container
  .row
    .one-half.column(style="margin-top: 15%")
      h2 Janika Liiv
      p
        | Software Developer in 
        a(href="https://teamweek.com" target="_blank" alt="Teamweek") Teamweek
        |, passionate about learning and trying new technologies.
        | Mostly playing around on the back end with Ruby, Go and JavaScript.
        | I've been developing small to medium scale web applications, 
        | interested in getting more experience in big data, microservices and larger infrastructure setups.
        | Located in Tallinn, Estonia.
      a(class="button button-primary" target="_blank" alt="twitter" href="https://twitter.com/janikaliiv") Twitter
      a(class="button button-primary" target="_blank" alt="github" href="https://github.com/janika") Github
      a(class="button button-primary" target="_blank" alt="linkedin" href="https://ee.linkedin.com/pub/janika-liiv/69/679/574") LinkedIn
    .one-half.column(style="margin-top: 10%")
      img(src="images/janika.png" class="img-circle img-responsive")
