.item.front
  h2 Janika Liiv
  p
    | Software Developer at 
    a(href="https://teamweek.com" target="_blank" alt="Teamweek") Teamweek
    |, passionate about learning and pushing my limits.
    | Mostly playing around with Ruby, Go and JavaScript.
    | I've been developing small to medium scale web applications and I'm
    | interested in getting more experience in big data, microservices and larger infrastructure setups.
    br
    | Located in Tallinn, Estonia.
  .button-container
    a(class="button button-primary" target="_blank" alt="twitter" href="https://twitter.com/janikaliiv") Twitter
    a(class="button button-primary" target="_blank" alt="github" href="https://github.com/janika") Github
    a(class="button button-primary" target="_blank" alt="linkedin" href="https://ee.linkedin.com/pub/janika-liiv/69/679/574") LinkedIn
.item.front
  img(src="images/janika.png" class="img-circle img-responsive")
