.item.front
  img(src="images/janika_liiv.jpg" class="img-circle img-responsive" alt="Janika Liiv")
.item.front
  h2 Janika Liiv
  div Founding Engineer and Back End Developer at #[a(href="https://clanbeat.com" target="_blank" alt="Clanbeat") Clanbeat].
  div Part of the organizing team of #[a(href="http://refresh.rocks/" target="_blank" alt="Refresh Web Conference") REFRESH] web development conference.
  br
  .button-container
    a(class="button button-primary" target="_blank" alt="Janika Liiv at Twitter" href="https://twitter.com/janikaliiv") Twitter
    a(class="button button-primary" target="_blank" alt="Janika Liiv at Medium" href="https://medium.com/@janika") Medium
    a(class="button button-primary" target="_blank" alt="Janika Liiv at LinkedIn" href="https://ee.linkedin.com/pub/janika-liiv/69/679/574") LinkedIn
